---
<small>
문제

주어진 데이터는 회사의 직원 ID, 이름, 월급, 부서 정보입니다. 각 데이터는 다음과 같은 형식으로 주어집니다:

```python
코드 복사
employee_ids = [101, 102, 103, 104, 105]
names = ["Alice", "Bob", "Charlie", "David", "Eva"]
salaries = [70000, 80000, 120000, 90000, 110000]
departments = ["HR", "IT", "Finance", "IT", "Finance"]
```
</small>

---

In [1]:
import pandas as pd

In [2]:
employee_ids = [101, 102, 103, 104, 105]
names = ["Alice", "Bob", "Charlie", "David", "Eva"]
salaries = [70000, 80000, 120000, 90000, 110000]
departments = ["HR", "IT", "Finance", "IT", "Finance"]

---
<small>
Series 생성:
직원 ID를 인덱스로 사용하고, 직원 이름을 값으로 갖는 Series를 생성하세요.
직원 ID를 인덱스로 사용하고, 월급을 값으로 갖는 Series를 생성하세요.
</small>

---

In [3]:
series_names = pd.Series(data=names, index=employee_ids)
series_salaries = pd.Series(data=salaries, index=employee_ids)
series_names, series_salaries

(101      Alice
 102        Bob
 103    Charlie
 104      David
 105        Eva
 dtype: object,
 101     70000
 102     80000
 103    120000
 104     90000
 105    110000
 dtype: int64)

---
<small>
연산 및 필터링:
월급이 90,000 이상인 직원들의 이름과 월급을 출력하세요.
월급의 평균을 계산하세요.
월급이 평균 이상인 직원들의 이름을 출력하세요.
</small>

---

In [4]:
salary_conditions = series_salaries >= 90000
series_names[salary_conditions], series_salaries[salary_conditions]

(103    Charlie
 104      David
 105        Eva
 dtype: object,
 103    120000
 104     90000
 105    110000
 dtype: int64)

In [5]:
series_salaries.mean()

94000.0

In [8]:
salary_mean_gte = series_salaries >= series_salaries.mean()
series_names[salary_mean_gte], series_salaries[salary_mean_gte]

(103    Charlie
 105        Eva
 dtype: object,
 103    120000
 105    110000
 dtype: int64)

---
<small>
데이터 변환:
부서 정보를 Series로 변환하여 직원 ID를 인덱스로 설정하세요.
월급과 부서 정보를 결합하여 각 직원의 월급과 부서를 표시하는 새로운 Series를 생성하세요.
예:
arduino
코드 복사
101: "70000, HR"
102: "80000, IT"
</small>

---

In [11]:
series_departments = pd.Series(data=departments, index=employee_ids)

series_salrary_department = pd.Series(dtype="object")

for index in employee_ids:
    series_salrary_department.loc[index] = f'{series_salaries.loc[index]}, {series_departments.loc[index]}'
#.loc['A'] = 1
series_salrary_department

101          70000, HR
102          80000, IT
103    120000, Finance
104          90000, IT
105    110000, Finance
dtype: object

---
<small>
응용:
월급을 10% 인상한 값을 반영한 새로운 Series를 생성하세요.
직원 이름을 대문자로 변환한 새로운 Series를 생성하세요.
직원 중 IT 부서에 속한 사람들의 월급 총합을 계산하세요.
</small>

---

In [12]:
series_salrary_increase = series_salaries + (series_salaries*0.1)
series_salrary_increase

101     77000.0
102     88000.0
103    132000.0
104     99000.0
105    121000.0
dtype: float64

In [14]:
series_names_upper = series_names.str.upper()
series_names_upper

101      ALICE
102        BOB
103    CHARLIE
104      DAVID
105        EVA
dtype: object

In [17]:
series_salaries[series_departments == "IT"], series_salaries[series_departments == "IT"].sum()

(102    80000
 104    90000
 dtype: int64,
 170000)