## 주요 구성 요소 
- DataFrame = columns + values + index

In [1]:
import pandas as pd

data = { 
    '종목코드': ['037730', '036360', '005670'], 
    '종목명': ['3R', '3SOFT', 'ACTS'], 
    '현재가': [1510, 1790, 1185], 
    '등락률': [7.36, 1.65, 1.28] 
}

In [4]:
df_components = pd.DataFrame(data)
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [7]:
print(type(df_components.values))
df_components.values

<class 'numpy.ndarray'>

array([['037730', '3R', 1510, 7.36],
       ['036360', '3SOFT', 1790, 1.65],
       ['005670', 'ACTS', 1185, 1.28]], dtype=object)

In [14]:
# 데이터 타입 형 변환 
type(df_components.values.tolist())

list

In [8]:
print(type(df_components.columns))
df_components.columns # 사용할 때 변환 필요

<class 'pandas.core.indexes.base.Index'>

Index(['종목코드', '종목명', '현재가', '등락률'], dtype='object')

In [13]:
df_components.columns.tolist()

['종목코드', '종목명', '현재가', '등락률']

In [15]:
print(type(df_components.index))
df_components.index

<class 'pandas.core.indexes.range.RangeIndex'>

RangeIndex(start=0, stop=3, step=1)

In [18]:
# 날짜, 종목코드 를 인덱스로 
df_temp = df_components.set_index(keys="종목코드")

In [19]:
print(type(df_temp.index))
df_temp.index

<class 'pandas.core.indexes.base.Index'>

Index(['037730', '036360', '005670'], dtype='object', name='종목코드')

In [22]:
df_temp.index.tolist()

['037730', '036360', '005670']

In [23]:
df_temp.index.name

'종목코드'

In [31]:
df_temp_temp = df_temp.reset_index()
df_temp_temp

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [32]:
df_temp_temp.set_index(keys="종목코드",inplace=True)
df_temp_temp

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28