## 주요 구성 요소
- Series = index + values

In [2]:
import pandas as pd

In [4]:
data = [1000, 2000, 3000]
series_costs = pd.Series(data)
series_costs

0    1000
1    2000
2    3000
dtype: int64

In [5]:
type(series_costs)

pandas.core.series.Series

In [9]:
series_costs.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
series_costs.values

array([1000, 2000, 3000])

In [13]:
data_ice = {"메로나": 1000, "구구콘": 2000, "하겐다즈" : 3000 }
series_ice = pd.Series(data_ice)
series_ice

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [14]:
series_ice.index

Index(['메로나', '구구콘', '하겐다즈'], dtype='object')

In [15]:
series_ice.values

array([1000, 2000, 3000])

In [19]:
test = series_ice.reset_index()
type(test) # pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

### data extraction

#### series indexing
- loc[], iloc[]

In [30]:
series_ice.iloc[1] # series_ice[1] 과 뭐가 다른거지?

2000

In [29]:
type(series_ice.iloc[1])

numpy.int64

In [27]:
series_ice.iloc[1:]

구구콘     2000
하겐다즈    3000
dtype: int64

In [28]:
type(series_ice.iloc[1:])

pandas.core.series.Series

In [32]:
series_ice.loc["구구콘"]

2000

In [67]:
series_costs.loc[1]

2000

In [35]:
series_ice.loc["구구콘":]

구구콘     2000
하겐다즈    3000
dtype: int64


#### series conditioning
- filltering(marking, marsking)

In [37]:
data = [42500, 42550, 41800, 42550, 42650]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']
series_yymmdd_cost = pd.Series(data=data, index=index)

In [38]:
series_yymmdd_cost

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-05-28    42550
2019-05-27    42650
dtype: int64

In [45]:
# 변수, 부등식, 대상 값
conditions = series_yymmdd_cost > 42500
conditions

2019-05-31    False
2019-05-30     True
2019-05-29    False
2019-05-28     True
2019-05-27     True
dtype: bool

In [46]:
series_yymmdd_cost[conditions] # 인덱스도 비교 가능?

2019-05-30    42550
2019-05-28    42550
2019-05-27    42650
dtype: int64

### Series 연산

In [47]:
close = [42500, 42550, 41800, 42550, 42650]
open = [42600, 42200, 41850, 42550, 42500]
index = ['2019-05-31', '2019-05-30', '2019-05-29', '2019-05-28', '2019-05-27']

In [48]:
series_open = pd.Series(data=open, index=index)
series_close = pd.Series(data=close, index=index)
series_open,series_close

(2019-05-31    42600
 2019-05-30    42200
 2019-05-29    41850
 2019-05-28    42550
 2019-05-27    42500
 dtype: int64,
 2019-05-31    42500
 2019-05-30    42550
 2019-05-29    41800
 2019-05-28    42550
 2019-05-27    42650
 dtype: int64)

In [65]:
series_open.sort_index()

2019-05-27    42500
2019-05-28    42550
2019-05-29    41850
2019-05-30    42200
2019-05-31    42600
dtype: int64

In [49]:
conditions = series_open > series_close
conditions

2019-05-31     True
2019-05-30    False
2019-05-29     True
2019-05-28    False
2019-05-27    False
dtype: bool

In [51]:
series_open[conditions], type(series_open)

(2019-05-31    42600
 2019-05-29    41850
 dtype: int64,
 pandas.core.series.Series)

In [53]:
calculations = series_close - series_open
calculations

2019-05-31   -100
2019-05-30    350
2019-05-29    -50
2019-05-28      0
2019-05-27    150
dtype: int64

In [55]:
series_open[calculations > 0 ]

2019-05-30    42200
2019-05-27    42500
dtype: int64

### sort, rank

In [58]:
data = [3.1, 2.0, 10.1, 5.1]
index = ['000010', '000020', '000030', '000040']
series_rate = pd.Series(data=data, index=index)
series_rate

000010     3.1
000020     2.0
000030    10.1
000040     5.1
dtype: float64

In [62]:
series_rate.sort_values(ascending=False)

000030    10.1
000040     5.1
000010     3.1
000020     2.0
dtype: float64

In [63]:
series_rate.rank()

000010    2.0
000020    1.0
000030    4.0
000040    3.0
dtype: float64

In [64]:
series_rate.rank().sort_values()

000020    1.0
000010    2.0
000040    3.0
000030    4.0
dtype: float64