## Filters

In [1]:
import pandas as pd

In [6]:
data = { 
    '종목코드': ['037730', '036360', '005670'], 
    '종목명': ['3R', '3SOFT', 'ACTS'], 
    '현재가': [1510, 1790, 1185], 
    '등락률': [7.36, 1.65, 1.28] 
}
df_components = pd.DataFrame(data)
df_components

     종목코드    종목명   현재가   등락률
0  037730     3R  1510  7.36
1  036360  3SOFT  1790  1.65
2  005670   ACTS  1185  1.28

In [7]:
df_components = df_components.set_index(keys='종목코드')
df_components

          종목명   현재가   등락률
종목코드
037730     3R  1510  7.36
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28

### row indexing

#### iloc, loc

In [8]:
df_components.index

Index(['037730', '036360', '005670'], dtype='object', name='종목코드')

In [22]:
df_components.columns

Index(['종목명', '현재가', '등락률'], dtype='object')

In [10]:
df_components.iloc[1], type(df_components.iloc[1])

(종목명    3SOFT
 현재가     1790
 등락률     1.65
 Name: 036360, dtype: object,
 pandas.core.series.Series)

In [11]:
df_components.loc['036360'], type(df_components.loc['036360'])

(종목명    3SOFT
 현재가     1790
 등락률     1.65
 Name: 036360, dtype: object,
 pandas.core.series.Series)

In [13]:
df_components.iloc[1:], type(df_components.iloc[1:])

(          종목명   현재가   등락률
 종목코드
 036360  3SOFT  1790  1.65
 005670   ACTS  1185  1.28,
 pandas.core.frame.DataFrame)

In [15]:
df_components.iloc[1:,:2], type(df_components.iloc[1:,:2])

(          종목명   현재가
 종목코드
 036360  3SOFT  1790
 005670   ACTS  1185,
 pandas.core.frame.DataFrame)

In [18]:
df_components.iloc[:,:2]

          종목명   현재가
종목코드
037730     3R  1510
036360  3SOFT  1790
005670   ACTS  1185

In [19]:
df_components.iloc[1:3,:]

          종목명   현재가   등락률
종목코드
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28

In [20]:
df_components.loc["036360": "005670"] # 행을 중심으로 가져옴

          종목명   현재가   등락률
종목코드
036360  3SOFT  1790  1.65
005670   ACTS  1185  1.28

In [21]:
df_components.loc["036360" : "005670", "현재가" : "등락률"] # 행을 중심으로 가져옴

         현재가   등락률
종목코드
036360  1790  1.65
005670  1185  1.28

#### 명칭 접근 기법

In [24]:
# dataframe 은 행과 열로 구성
df_components.loc[['037730', '005670']]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005670  ACTS  1185  1.28

In [25]:
df_components.loc[['037730', '005670'], ['종목명', '등락률']]

         종목명   등락률
종목코드
037730    3R  7.36
005670  ACTS  1.28

#### condition use

In [28]:
df_components.loc[df_components.loc[:,"현재가"] <= 1700]

         종목명   현재가   등락률
종목코드
037730    3R  1510  7.36
005670  ACTS  1185  1.28

In [31]:
condition = df_components.loc[:,"현재가"] <= 1700
condition

종목코드
037730     True
036360    False
005670     True
Name: 현재가, dtype: bool

In [42]:
df_components.loc[condition,['종목명', '등락률']]

         종목명   등락률
종목코드
037730    3R  7.36
005670  ACTS  1.28

In [43]:
df_components[condition,['종목명', '등락률']] # 부정

InvalidIndexError: (종목코드
037730     True
036360    False
005670     True
Name: 현재가, dtype: bool, ['종목명', '등락률'])