## Timestamp

In [1]:
import pandas as pd

### datetime
- 형식만 맞출때 : 년월일시분초밀리세컨 - YYMMDDHHMMSS.MS

In [2]:
ts_first = pd.to_datetime('2021-01-02')
ts_second = pd.to_datetime("2021-11-02 09:21:20")

ts_third = pd.to_datetime('20210102 092221')
ts_fourth = pd.to_datetime('06/08/21', format='%m/%d/%y')
type(ts_first), ts_first, type(ts_second), ts_second, type(ts_third), ts_third, type(ts_fourth), ts_fourth

(pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 00:00:00'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-11-02 09:21:20'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-01-02 09:22:21'),
 pandas._libs.tslibs.timestamps.Timestamp,
 Timestamp('2021-06-08 00:00:00'))

In [3]:
ts_second.year, ts_second.month, ts_second.day, ts_second.hour, ts_second.minute, ts_second.second

(2021, 11, 2, 9, 21, 20)

In [4]:
ts_second.weekday(), ts_second.quarter

(1, 4)

In [5]:
day = 1628899200 / 60 / 60 /24
year = day / 365
print(year)

pd.to_datetime(1628899200, unit='s')

51.652054794520545

Timestamp('2021-08-14 00:00:00')

#### timestamp를 원하는 형식으로 출력

In [6]:
ts_fourth.strftime(format='%Y   %m   %d , %H:%M:%S')

'2021   06   08 , 00:00:00'

### Timedelta
- 일시간 계산

In [7]:
td_first = pd.Timedelta(days=30)
td_first = pd.Timedelta(hours=2,minutes=30,seconds=20)
type(td_first), td_first

(pandas._libs.tslibs.timedeltas.Timedelta, Timedelta('0 days 02:30:20'))

In [8]:
ts_result_first = ts_second + td_first
type(ts_result_first), ts_result_first

(pandas._libs.tslibs.timestamps.Timestamp, Timestamp('2021-11-02 11:51:40'))

### 시계열 date 다루기

In [9]:
candidates = ['2024-11-01','2024-11-02','2024-11-03','2024-11-04']
type(candidates[0])

str

In [10]:
dt_first = pd.to_datetime(candidates)
type(dt_first), dt_first

(pandas.core.indexes.datetimes.DatetimeIndex,
 DatetimeIndex(['2024-11-01', '2024-11-02', '2024-11-03', '2024-11-04'], dtype='datetime64[ns]', freq=None))

In [11]:
type(dt_first[0]), dt_first[0]

(pandas._libs.tslibs.timestamps.Timestamp, Timestamp('2024-11-01 00:00:00'))

In [12]:
dt_first[0].quarter

4

#### with data

In [13]:
data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 

]

indexes = ['20200615', '20200616', '20200717', '20200718'
           , '20200815', '20200816', '20200917', '20200918']
df_first = pd.DataFrame(data, index=indexes)
df_first.info(), df_first.head()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 20200615 to 20200918
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시가      8 non-null      int64
 1   고가      8 non-null      int64
 2   저가      8 non-null      int64
 3   종가      8 non-null      int64
dtypes: int64(4)
memory usage: 320.0+ bytes

(None,
            시가   고가  저가   종가
 20200615  100  110  90  105
 20200616  100  112  80   95
 20200717   99  115  70   85
 20200718   70   80  60   75
 20200815  100  110  90  105)

In [14]:
# df_first.loc['202006']
conditions = df_first.index.str[:6] == '202006'
# conditions = df_first.index.str[:4] == '2020'
conditions

array([ True,  True, False, False, False, False, False, False])

In [15]:
df_first.index

Index(['20200615', '20200616', '20200717', '20200718', '20200815', '20200816',
       '20200917', '20200918'],
      dtype='object')

In [16]:
df_first.index = pd.to_datetime(df_first.index)
df_first.index

DatetimeIndex(['2020-06-15', '2020-06-16', '2020-07-17', '2020-07-18',
               '2020-08-15', '2020-08-16', '2020-09-17', '2020-09-18'],
              dtype='datetime64[ns]', freq=None)

In [17]:
df_first.info(), df_first.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2020-06-15 to 2020-09-18
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시가      8 non-null      int64
 1   고가      8 non-null      int64
 2   저가      8 non-null      int64
 3   종가      8 non-null      int64
dtypes: int64(4)
memory usage: 320.0 bytes

(None,
              시가   고가  저가   종가
 2020-06-15  100  110  90  105
 2020-06-16  100  112  80   95
 2020-07-17   99  115  70   85
 2020-07-18   70   80  60   75
 2020-08-15  100  110  90  105)

In [18]:
df_first.index[0]

Timestamp('2020-06-15 00:00:00')

In [19]:
df_first.index.quarter

Index([2, 2, 3, 3, 3, 3, 3, 3], dtype='int32')

In [20]:
df_first.loc['2020-07']
df_first.loc['2020-07','시가']

2020-07-17    99
2020-07-18    70
Name: 시가, dtype: int64

#### 컬럼에서 date 다루기

In [21]:
df_first['datetimes'] = df_first.index
df_first.info(), df_first.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2020-06-15 to 2020-09-18
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시가         8 non-null      int64
 1   고가         8 non-null      int64
 2   저가         8 non-null      int64
 3   종가         8 non-null      int64
 4   datetimes  8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(4)
memory usage: 384.0 bytes

(None,
              시가   고가  저가   종가  datetimes
 2020-06-15  100  110  90  105 2020-06-15
 2020-06-16  100  112  80   95 2020-06-16
 2020-07-17   99  115  70   85 2020-07-17
 2020-07-18   70   80  60   75 2020-07-18
 2020-08-15  100  110  90  105 2020-08-15)

In [22]:
df_first['datetimes'].dt.quarter

2020-06-15    2
2020-06-16    2
2020-07-17    3
2020-07-18    3
2020-08-15    3
2020-08-16    3
2020-09-17    3
2020-09-18    3
Name: datetimes, dtype: int32