### 열을 행 방향으로 이동

Shift

In [1]:
import pandas as pd

In [2]:

data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가': 100, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  99, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 

]

indexes = ['20200615', '20200616', '20200717', '20200718'
           , '20200815', '20200816', '20200917', '20200918']

dt_first = pd.DatetimeIndex(indexes)
df_first = pd.DataFrame(data, index=dt_first)
df_first.info(), df_first.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2020-06-15 to 2020-09-18
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시가      8 non-null      int64
 1   고가      8 non-null      int64
 2   저가      8 non-null      int64
 3   종가      8 non-null      int64
dtypes: int64(4)
memory usage: 320.0 bytes

(None,
              시가   고가  저가   종가
 2020-06-15  100  110  90  105
 2020-06-16  100  112  80   95
 2020-07-17   99  115  70   85
 2020-07-18   70   80  60   75
 2020-08-15  100  110  90  105)

#### 전날 종가와 차이

In [ ]:
df_first['전일종가'] = df_first['종가'].shift(periods=1)
df_first['삼일전종가'] = df_first['종가'].shift(periods=3) # 하고 나면 float? 
df_first.head()

             시가   고가  저가   종가   전일종가  삼일전종가
2020-06-15  100  110  90  105    NaN    NaN
2020-06-16  100  112  80   95  105.0    NaN
2020-07-17   99  115  70   85   95.0    NaN
2020-07-18   70   80  60   75   85.0  105.0
2020-08-15  100  110  90  105   75.0   95.0

In [4]:
condition = df_first['전일종가'] < df_first['종가']
condition

2020-06-15    False
2020-06-16    False
2020-07-17    False
2020-07-18    False
2020-08-15     True
2020-08-16    False
2020-09-17    False
2020-09-18    False
dtype: bool

In [5]:
df_first[condition]

             시가   고가  저가   종가  전일종가  삼일전종가
2020-08-15  100  110  90  105  75.0   95.0

In [6]:
df_first['등락'] = df_first['종가'] - df_first['전일종가']

In [7]:
df_first[df_first['등락']>0]

             시가   고가  저가   종가  전일종가  삼일전종가    등락
2020-08-15  100  110  90  105  75.0   95.0  30.0

### 수익률 계산 with shift

In [8]:
df_first['종가'] / df_first['시가']

2020-06-15    1.050000
2020-06-16    0.950000
2020-07-17    0.858586
2020-07-18    1.071429
2020-08-15    1.050000
2020-08-16    0.950000
2020-09-17    0.858586
2020-09-18    1.071429
dtype: float64

### rolling()
- shift와 연산 가능

In [10]:
# 샘플 데이터 생성 
data = { 'value': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100] }

In [13]:
df_second = pd.DataFrame(data)
df_second

   value
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100

In [21]:
df_second['rolling3'] = df_second['value'].rolling(window=3).mean()
df_second['rolling6'] = df_second['value'].rolling(window=6).mean()
df_second

   value  rolling3  rolling6
0     10       NaN       NaN
1     20       NaN       NaN
2     30      20.0       NaN
3     40      30.0       NaN
4     50      40.0       NaN
5     60      50.0      35.0
6     70      60.0      45.0
7     80      70.0      55.0
8     90      80.0      65.0
9    100      90.0      75.0