### 시장 수익률(복리 연평균 성장률) - CAGR(Compound Annual Growth Rate)
- 기간 + 물가 지수
- $시장 수익률 = 수익률 **(1/투자기간) - 1$

In [1]:
import pandas as pd

In [2]:
# data => dataframe => matplot
# api 
import FinanceDataReader as fdr

kospi = fdr.DataReader('KS11', '2021', '2022') 
kospi.head()

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2021-01-04,2874.50,2946.54,2869.11,2944.45,1026510465,0.0247,1,70.98,25011393960858,2028846031822322
2021-01-05,2943.67,2990.57,2921.84,2990.57,1519911750,0.0157,1,46.12,26548380179493,2059743507955076
2021-01-06,2993.34,3027.16,2961.37,2968.21,1793418534,-0.0075,2,-22.36,29909396443430,2044102754101965
2021-01-07,2980.75,3055.28,2980.75,3031.68,1524654500,0.0214,1,63.47,27182807334912,2086578562420457
2021-01-08,3040.11,3161.11,3040.11,3152.18,1297903388,0.0397,1,120.50,40909490005818,2170537648432200

In [3]:
kospi.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 248 entries, 2021-01-04 to 2021-12-30
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    248 non-null    float64
 1   High    248 non-null    float64
 2   Low     248 non-null    float64
 3   Close   248 non-null    float64
 4   Volume  248 non-null    int64
 5   Change  248 non-null    float64
 6   UpDown  248 non-null    int64
 7   Comp    248 non-null    float64
 8   Amount  248 non-null    int64
 9   MarCap  248 non-null    int64
dtypes: float64(6), int64(4)
memory usage: 21.3 KB

In [4]:
kospi.index

DatetimeIndex(['2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07',
               '2021-01-08', '2021-01-11', '2021-01-12', '2021-01-13',
               '2021-01-14', '2021-01-15',
               ...
               '2021-12-17', '2021-12-20', '2021-12-21', '2021-12-22',
               '2021-12-23', '2021-12-24', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30'],
              dtype='datetime64[ns]', name='Date', length=248, freq=None)

In [5]:
# kospi.iloc[0,3] 매수 시점의 종가
# kospi.iloc[-1,3] 매도 시점의 종가
# 수익률 = 매도 가격 / 매수 가격
rate_of_return = kospi.iloc[-1,3] / kospi.iloc[0,3]

# 투자 기간
diff_date =  kospi.index[-1] - kospi.index[0]
diff_date, type(diff_date), diff_date.days

(Timedelta('360 days 00:00:00'), pandas._libs.tslibs.timedeltas.Timedelta, 360)

In [6]:
# 시장 수익률 (복리 포함) 복리 연평균 성향율
cagr = rate_of_return**(1/(diff_date.days/365)) - 1
cagr

0.011432945752259283

### 숫자 만큼 분류

In [7]:
# 예제 데이터: 나이 리스트 
ages = [5, 12, 17, 18, 24, 35, 45, 64, 75] # 나이를 구간으로 나누기 
bins = [0, 12, 19, 35, 60, 100] # 구간 정의 
labels = ['어린이', '청소년', '청년', '중장년', '노년'] # 각 구간에 붙일 라벨

In [10]:
age_groups = pd.cut(ages, bins=bins, labels=labels)

In [11]:
data = {'나이':ages, '연령대':age_groups}
pd.DataFrame(data)

   나이  연령대
0   5  어린이
1  12  어린이
2  17  청소년
3  18  청소년
4  24   청년
5  35   청년
6  45  중장년
7  64   노년
8  75   노년

#### bins 숫자 입력

In [13]:
bin = 3
labels = ['청소년', '청년', '중장년']
age_groups = pd.cut(ages, bins=bin, labels=labels)
age_groups

['청소년', '청소년', '청소년', '청소년', '청소년', '청년', '청년', '중장년', '중장년']
Categories (3, object): ['청소년' < '청년' < '중장년']