## 주기성 투자 전략
- 월, 분기, 연, 단위 변화 이용 전략

### 핼로윈 투자
- 매수는 11월, 매도는 4월

In [ ]:
import pandas as pd 
import FinanceDataReader as fdr

snp500 = fdr.DataReader('S&P500', '2001', '2023-12') 
snp500 = fdr.DataReader('KS11', '2001', '2023-12') 

snp500.tail() # Adj Close 분할 하거나 했을 때 변경되는 종가

,Open,High,Low,Close,Volume,Change,UpDown,Comp,Amount,MarCap
Date,,,,,,,,,,
2023-11-27,2501.83,2511.37,2489.18,2495.66,364743731,-0.0004,2,-0.97,8376475664368,1.994295e+15
2023-11-28,2506.14,2522.45,2502.26,2521.76,443089715,0.0105,1,26.10,8753423571555,2.017729e+15
2023-11-29,2518.80,2523.98,2501.44,2519.81,579271100,-0.0008,2,-1.95,9428200342491,2.015730e+15
2023-11-30,2512.11,2535.29,2507.80,2535.29,664284035,0.0061,1,15.48,11992488473054,2.027777e+15
2023-12-01,2520.49,2520.49,2504.06,2505.01,516596238,-0.0119,2,-30.28,8837749634076,2.004297e+15

In [20]:
snp500.info(), snp500.index

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5664 entries, 2001-01-02 to 2023-12-01
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5664 non-null   float64
 1   High    5664 non-null   float64
 2   Low     5664 non-null   float64
 3   Close   5664 non-null   float64
 4   Volume  5664 non-null   int64
 5   Change  5664 non-null   float64
 6   UpDown  5664 non-null   int64
 7   Comp    5664 non-null   float64
 8   Amount  5664 non-null   int64
 9   MarCap  5557 non-null   float64
dtypes: float64(7), int64(3)
memory usage: 486.8 KB

(None,
 DatetimeIndex(['2001-01-02', '2001-01-03', '2001-01-04', '2001-01-05',
                '2001-01-08', '2001-01-09', '2001-01-10', '2001-01-11',
                '2001-01-12', '2001-01-15',
                ...
                '2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23',
                '2023-11-24', '2023-11-27', '2023-11-28', '2023-11-29',
                '2023-11-30', '2023-12-01'],
               dtype='datetime64[ns]', name='Date', length=5664, freq=None))

### 수익률 백테스팅 비교 
- 넣다 빼는게 나은지 그냥 가지고 있는게 좋은지 수익률 비교
- 핼로윈 VS 단순 보유 수익률 => CAGR로 비교

#### 핼로윈 전략 일 때

In [29]:
buy_price = snp500.loc['2001-11'].iloc[0].loc['Open'] # 11월의 첫날짜
buy_price

540.63

In [22]:
sell_price = snp500.loc['2002-04'].iloc[-1].loc['Close'] # 4월의 끝날짜
sell_price

842.34

In [23]:
cum_rate_of_return = 1
for year in range(2001, 2023):
    buy_year_month = f'{year}-11'
    sell_year_month = f'{year+1}-04'
    buy_price = snp500.loc[buy_year_month].iloc[0].loc['Open']
    sell_price = snp500.loc[sell_year_month].iloc[-1].loc['Close']

    rate_of_return = sell_price / buy_price
    cum_rate_of_return = cum_rate_of_return * rate_of_return
cum_rate_of_return # + 원금 보장형 년 이익을 추가 해 주어야 한다.

5.517942199249924

In [24]:
# rate_of_return = sell_price / buy_price
# cum_rate_of_return = 1 * rate_of_return
# cum_rate_of_return

In [25]:
# halloween 전략시 누적 수익률 
ranges = 23
CAGR = ((cum_rate_of_return ** (1/ranges))-1) * 100
CAGR

7.708798244925452

#### 단순 수익률

In [26]:
simple_rate_of_return = snp500.iloc[-1].loc['Close'] / snp500.loc['2001-11'].iloc[0].loc['Open']
simple_cum_rate_of_return = 1 * simple_rate_of_return
simple_cum_rate_of_return

4.633501655476019

In [27]:
ranges = snp500.index[-1] - snp500.index[0]
ranges = 23
CAGR = ((simple_cum_rate_of_return ** (1/ranges))-1) * 100
CAGR

6.893815513525814