In [1]:
from pandas import Series

In [2]:
data_ice = {"메로나": 1000, "구구콘": 2000, "하겐다즈" : 3000 }
series_ice = Series(data_ice)
series_ice

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [5]:
df_test = series_ice.reset_index()
df_test

  index     0
0   메로나  1000
1   구구콘  2000
2  하겐다즈  3000

In [6]:
type(df_test)

pandas.core.frame.DataFrame